<!doctype html>
<html>

<head>
            <link rel="stylesheet" href="/static/style.css" />

  <title>Dashboard</title>
</head>

<body>
  <h3>Hello, {{user}}!</h3>
  <p>Welcome to your dashboard</p>
 
</body>

</html>